*.suo
*.user
obj
*.exe
*.cache
*.iobj
*.ipdb
packages
_*.*
*.dll
*.pdb
*.exp
*.ilk
*.lib
*.sln
.vs
cncimg/Release
cncimg/x64/Release
/Release
/Release/Log
/Debug/Log
rs.log
external.lang
ressrc/
/Debug/frag
/Debug/vert
/Debug/shader
cncimg/Debug
/Debug/release
/Debug/DllDebug
OpenTKIntro
RelertSharp.GUI.WPF/bin
RelertSharp.Main/obj
RelertSharp.Main/bin/Release
RelertSharp.Main/bin/Debug/frag
RelertSharp.Main/bin/Debug/vert
RelertSharp.Main/bin/Debug/shader
RelertSharp.Main/_*.*

#resource and test required
local.rsc
*.png
*.pcx
*.jpg
*.bmp
*.png
*.jpg
*.pcx
*.tem
*.sno
*.des
*.lun
*.ubn
*.urb
*.shp
*.vxl
*.hva
*.pal
*.mpr
*.map
*.yrm
*.rar
*.zip
*.py
*.config
*.txt
*.ini
*.vpl
*.xml
!RelertSharp.GUI/Resources/*.png
!relert-sharp.sln
!rslib.dll
!voxel.vpl
!App.config
!cncnet5.dll
!CncnetYRInject.exe
!Syringe.exe
!packages.config
/RelertSharp.Main/bin/OnPublic
/RelertSharp.GUI/bin/OnPublic
