*.suo
*.user
bin
obj
*.exe
*.cache
packages
_*.*
*.dll
.vs
Debug
OpenTKIntro
RelertSharp.Main/obj
RelertSharp.Main/bin
RelertSharp.Main/_*.*
Release
ReleaseLowerTriangle
*.rar
cncimg/compiled_version
cncimg/x64